*{
	margin-top: 0;
	padding: 0;
	font-family: Century Gothic;
}
body{
	background-image:url(3.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.form-box{
	width: 400px;
	height: 350px;
	top : 25%;
	left: 36%;
	position: absolute;
	background: rgba(0,0,0,0.8);
	/*margin-left : 50%; 
	margin-top: 50%;
	*/padding: 35px 0;
	color: #fff;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
	margin-bottom: 10px;
}
h1{
	text-align: center;
	/*margin-top: -10px;*/
	margin-bottom: 20px;
}
.input-box{
	margin: 22px auto;
	width: 80%;
	/*border-bottom: 1px solid #fff;*/
	padding-top: 5px;
	padding-bottom: 5px;
}
.input-box input{
	width :80%;
	border: none;
	outline: none;
	background: transparent;
	color: #fff;
}
::placeholder{
	color: #ccc;

}
.fa{
	margin-right: 20px ;
	margin-top: 15px;
	margin-bottom: 5px;
}
.eye{
	position: absolute;
	margin-left: 25px;
	margin-top: -15px;
}
#hide1{
	display: none;
}
.form-box input[type="submit"]{
	margin: 40px auto 20px;
	width: 60%;
	display: block;
	outline: none;
	padding: 10px 0;
	border: 1px solid #fff;
	cursor: pointer;
	background: transparent;
	color: #fff;
	font-size: ;
}
.form-box input[type="submit"]: hover{
	cursor: pointer;
	background: #ffc107;
	color: green;
}
